body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f5f5f5;
}

h1 {
    color: red;
}

.box {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input, select {
    padding: 8px;
    width: 100%;
    margin-top: 5px;
}

.card {
    background: white;
    padding: 15px;
    border-left: 5px solid green;
    margin-bottom: 15px;
}

h2 {
    color: green;

}
#copyBtn {
    background: green;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
}

#copyBtn:hover {
    background: #0a7a0a;
}

#copyStatus {
    margin-top: 10px;
    color: red;
    font-weight: bold;
}
